<h1>Fontes</h1>

<%= render 'partials/flash' %>

<p><%= link_to 'Adicionar fonte', new_source_path %></p>

<% cache(cache_key_for_sources, expires_in: 30.minutes) do %>
  <% @sources.pluck(:source_type).uniq.each do |source_type| %>
    <h3><%= source_type %></h3>
    <%= render partial: 'partials/sources_table', locals: {sources: @sources.where(source_type: source_type)} %>
  <% end %>
<% end %>